.action-form {
    max-width: 600px;
    margin: 30px auto;
    padding: 50px;
}

.action-form h1 {
    text-align: center;
    text-transform: uppercase;
}

.action-form label {
    font-size: 20px;
    font-weight: bold;
}

.action-form button {
    margin-right: 10px;
}

.invalid-message {
    color: red;
    font-size: 12px;
}